.container
	max-width: 1180px
	width: 100vw
	margin: 0 auto
	display: flex

.row
	flex: 1
	display: flex
	flex-direction: row
	flex-wrap: nowrap
	margin: 0 -10px
	align-items: initial
	justify-content: initial
	&-justify-center
		justify-content: center
	&-align-center
		align-items: center

.col
	padding: 0 10px
	flex: 1
	display: flex
	&-justify-center
		justify-content: center
	&-align-center
		align-items: center