@import "./normalize"

*, *::before, *::after
    box-sizing: border-box

a, input, button
    transition: .25s all ease-in-out

body
    front-size: 16px
    width: 100vw
    height: 100vw
    overflow-x: hidden
    
@import "./stylus/_grid"